<!DOCTYPE html>
<html lang="zh-cmn-Hans">
{% import "bootstrap/wtf.html" as wtf %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.png') }}">
<title>在线任务智能匹配平台</title>

<!-- Bootstrap core CSS -->
<link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
<!-- Custom styles for this template -->
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/sub.css') }}" rel="stylesheet">
<script type="text/javascript">
    function changeCode(){
        var img = document.getElementById("img_code");
        img.src = "/validateCode";
    }
</script>
</head>
<!-- NAVBAR
================================================== -->
<body>
<input type="checkbox" class="eslint-toggle-search-checkbox" id="eslint-toggle-search">
<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <label class="navbar-toggle eslint-toggle-search-open" for="eslint-toggle-search"> <span class="sr-only">Open search</span> <span aria-hidden="true" class="glyphicon glyphicon-search"></span> </label>
        <a class="navbar-brand logo" href="#"><img src="{{ url_for('static',filename='images/logo.png') }}" width="270" height="70"></a> </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">首页</a></li>
          <li><a href="{{ url_for('creativity.creativity')}}">创意集市</a></li>
          <li><a href="{{ url_for('solution.solution') }}">方案库</a></li>
          <li><a href="{{ url_for('product.product') }}">产品展示</a></li>
          <li><a href="{{ url_for('main.about') }}">俱乐部简介</a></li>
          <li><a href="http://mobiushacker.org/">俱乐部论坛</a></li>
          <!--<li><a href="{{ url_for('project.project') }}">大学生项目专区</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!--<li classes="dropdown language-switch"> <span aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button" id="dLabel" classes="current-lang-btn"> 中文 <span classes="caret"></span> </span>
            <ul aria-labelledby="dLabel" classes="dropdown-menu">
              <li classes="lang-switcher-en preselected-lang"> <a href="/en" classes="lang-switch-en-">ENGLISH</a> </li>
              <li classes="lang-switcher-pl"> <a href="/pl" classes="lang-switch-pl-">中文</a> </li>
            </ul>
          </li>-->
        </ul>
        <label for="eslint-toggle-search" class="navbar-toggle eslint-toggle-search-open"> <span class="sr-only">Open search</span> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> </label>
        <div class="navbar-form navbar-right eslint-search" role="search">
          <div class="input-group search-input-group">
            <!--label classes="sr-only" aria-label="Search" for="eslint-search-input">Search</label-->
            <div class="eslint-search-input-wrapper"> <span class="input-group-addon">
              <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
              <input type="text" class="form-control" id="eslint-search-input" accesskey="s" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="搜索">
              <label for="eslint-toggle-search" class="eslint-toggle-search-close"> <span class="sr-only">Close search</span> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    </nav>
</div>
</div>
<div class="sub_title">
<div class="container">
<h2>登录</h2>
</div>
</div>


<!-- Marketing messaging and featurettes
    ================================================== --> 
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container loginPannel">
                        <div class="row">
                            <div class="col-sm-6 b-r">
                                    <div class="container">
                                    {% for message in get_flashed_messages() %}
                                        <div class="alert alert-warning">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    </div>

{#                                {{ wtf.quick_form(form) }}#}
                                <form action="{{ url_for('auth.login') }}" method="POST">
                                {{ form.hidden_tag() }}
                                <div classes="form-group">
                                    {{ form.email.label }}
                                    {{ form.email(classes="form-control input-lg",required=True) }}
                                    {% if form.email.errors %}
                                    <ul classes="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                                </div>
                                <div classes="form-group">
                                    {{ form.password.label }}
                                    {{ form.password(id="inputPassword",classes="form-control input-lg",required=True) }}
                                    {% if form.password.errors %}
                                    <ul classes="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}

                                </div>
                                <div classes="form-group">
                                    <label>{{ form.remember_me(classes="form-control input-lg") }}{{ form.remember_me.label }} </label>
                                </div>

                                <div class="form-group">
                                        {{ form.verification.label }}
                                        <label class="control-label"><img id='img_code' src="/validateCode"></label>
                                        <a href="javascript:changeCode()">看不清?换一张</a>
                                        {{ form.verification(class="form-control input-lg",required=true) }}
                                        {% if form.verification.errors %}
                                        <ul class="errors">{% for error in form.verification.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                                        {% endif %}
                                        {% if code_error %}验证码错误！{% endif %}
                                </div>

                                {{ form.submit(classes="btn btn-primary",value="登录") }}

                             </form>
                                <a href="login.html#" class="pull-right m-t-xs"><small>忘记密码?</small></a>
                            </div>
                            <div class="col-sm-6"><h4>没有账号?</h4>
                                <p>您可以点此创建:</p>
                                <p class="text-center">
                                    <a href="{{ url_for('auth.register') }}"><i class="fa fa-sign-in big-icon"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
<!-- /.container -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footerbottom">
        <div class="col-md-3 col-sm-6">
          <div class="footerwidget">
            <h4> 创意集市 </h4>
            <div class="menu-course">
              <ul class="menu">
                <li><a href="#"> 硬件设备 </a> </li>
                <li><a href="#"> 应用软件 </a> </li>
                <li><a href="#"> 支撑软件 </a> </li>
                <li><a href="#"> 数据库系统 </a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footerwidget">
            <h4> 方案库 </h4>
            <div class="menu-course">
              <ul class="menu">
                <li> <a href="#"> 硬件设备 </a> </li>
                <li><a href="#"> 应用软件 </a> </li>
                <li><a href="#"> 支撑软件 </a> </li>
                <li><a href="#"> 数据库系统 </a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footerwidget">
            <h4> 产品展示 </h4>
            <div class="menu-course">
              <ul class="menu">
                <li><a href="#"> 硬件设备 </a> </li>
                <li> <a href="#"> 应用软件 </a> </li>
                <li><a href="#"> 支撑软件 </a> </li>
                <li> <a href="#"> 数据库系统 </a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footerwidget">
            <h4>联系我们</h4>
            <p>MBH树莓派智能机器人俱乐部</p>
            <div class="contact-info"> <i class="fa fa-map-marker"></i> 中国 辽宁 大连 滨海路风光栈道<br>
              <i class="fa fa-phone"></i> charles1245087438 <br>
              <i class="fa fa-envelope-o"></i> charlesliu2216@gmail.com </div>
          </div>
          <!-- end widget -->
        </div>
      </div>
    </div>
    <div class="social text-center"> <a href="#"><i class="fa fa-wechat"></i></a> <a href="#"><i class="fa fa-qq"></i></a> <a href="#"><i class="fa fa-weibo"></i></a> <a href="#"><i class="fa fa-git"></i></a> <a href="#"><i class="fa fa-envelope"></i></a> </div>
    <div class="clear"></div>
    <!--CLEAR FLOATS-->
  </div>
  <div class="footer2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="simplenav"> <a href="/">首页</a> | <a href="{{ url_for('creativity.creativity') }}">创意集市</a> | <a href="{{ url_for('solution.solution') }}">方案库</a> | <a href="{{ url_for('product.product') }}">产品展示</a> | <a href="{{ url_for('main.about') }}">俱乐部简介</a> | <a href="http://mobiushacker.org/">俱乐部论坛</a> </p>
          </div>
        </div>
        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="text-right"> Copyright © 2016.MBHZB All rights reserved. </p>
          </div>
        </div>
      </div>
      <!-- /row of panels -->
    </div>
  </div>
</footer>
<a href="#top" class="topBtn"><i class="fa fa-angle-up"></i></a>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/custom.js') }}"></script>



{#<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>#}
{#<!-- 引入封装了failback的接口--initGeetest -->#}
{#<script src="http://static.geetest.com/static/tools/gt.js"></script>#}
{#<script>#}
{#    var handlerEmbed = function (captchaObj) {#}
{#        $("#embed-submit").click(function (e) {#}
{#            var validate = captchaObj.getValidate();#}
{#            if (!validate) {#}
{#                $("#notice")[0].className = "show";#}
{#                setTimeout(function () {#}
{#                    $("#notice")[0].className = "hide";#}
{#                }, 2000);#}
{#                e.preventDefault();#}
{#            }#}
{#        });#}
{#        // 将验证码加到id为captcha的元素里#}
{#        captchaObj.appendTo("#embed-captcha");#}
{#        captchaObj.onReady(function () {#}
{#            $("#wait")[0].className = "hide";#}
{#        });#}
{#        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html#}
{#    };#}
{#    $.ajax({#}
{#        // 获取id，challenge，success（是否启用failback）#}
{#        url: "{{ url_for('captcha.get_captcha',_external=True) }}?t=" + (new Date()).getTime(), // 加随机数防止缓存#}
{#        type: "get",#}
{#        dataType: "json",#}
{#        success: function (data) {#}
{#            // 使用initGeetest接口#}
{#            // 参数1：配置参数#}
{#            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件#}
{#            initGeetest({#}
{#                gt: data.gt,#}
{#                challenge: data.challenge,#}
{#                product: "embed", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效#}
{#                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注#}
{#            }, handlerEmbed);#}
{#        }#}
{#    });#}
{#</script>#}
</body>
</html>

