<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.png') }}">
<title>Carousel Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
<!-- Custom styles for this template -->
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/sub.css')  }}" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
<input type="checkbox" class="eslint-toggle-search-checkbox" id="eslint-toggle-search">
<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <label class="navbar-toggle eslint-toggle-search-open" for="eslint-toggle-search"> <span class="sr-only">Open search</span> <span aria-hidden="true" class="glyphicon glyphicon-search"></span> </label>
        <a class="navbar-brand logo" href="#"><img src="{{ url_for('static',filename='images/logo.png') }}" width="270" height="70"></a> </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">首页</a></li>
          <li><a href="{{ url_for('creativity.creativity')}}">创意集市</a></li>
          <li class="active"><a href="{{ url_for('solution.solution') }}">方案库</a></li>
          <li><a href="{{ url_for('product.product') }}">产品展示</a></li>
          <li><a href="{{ url_for('main.about') }}">俱乐部简介</a></li>
          <li><a href="http://mobiushacker.org/">俱乐部论坛</a></li>
          <li><a href="{{ url_for('project.project') }}">大学生项目专区</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-signup-cta "> <a data-event-label="Signup Menu button / Header" data-event-action="click" data-event-category="Referral to Signup" href="{{ url_for('auth.register') }}">加入我们</a> </li>
          <li class=""> <a href="{{ url_for('auth.login') }}">登录</a> </li>
          <li class="dropdown language-switch"> <span aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button" id="dLabel" class="current-lang-btn"> 中文 <span class="caret"></span> </span>
            <ul aria-labelledby="dLabel" class="dropdown-menu">
              <li class="lang-switcher-en preselected-lang"> <a href="/en" class="lang-switch-en-">ENGLISH</a> </li>
              <li class="lang-switcher-pl"> <a href="/pl" class="lang-switch-pl-">中文</a> </li>
            </ul>
          </li>
        </ul>
        <label for="eslint-toggle-search" class="navbar-toggle eslint-toggle-search-open"> <span class="sr-only">Open search</span> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> </label>
        <div class="navbar-form navbar-right eslint-search" role="search">
          <div class="input-group search-input-group">
            <!--label class="sr-only" aria-label="Search" for="eslint-search-input">Search</label-->
            <div class="eslint-search-input-wrapper"> <span class="input-group-addon">
              <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
              <input type="text" class="form-control" id="eslint-search-input" accesskey="s" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="搜索">
              <label for="eslint-toggle-search" class="eslint-toggle-search-close"> <span class="sr-only">Close search</span> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    </nav>
</div>
</div>
<div class="sub_title">
<div class="container">
<h2>方案库</h2>
</div>
</div>

<!-- Marketing messaging and featurettes
    ================================================== --> 
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">
		<h3>最近中标</h3>
		<p>
            代表方案
		</p>
		<br>
		<ul class="list-unstyled video-list-thumbs row">
			<li class="col-lg-3 col-sm-4 col-xs-6">
				<a href="#" title="方案简介">
					<img src="{{ url_for('static',filename='images/portfolio/img1.jpg') }}" alt="Barca" class="img-responsive" height="130px">
					<h2>标题：{{ dict['title1'] }} 类型：{{ dict['type1'] }} 关键字：{{ dict['key1'] }}</h2>
					<span class="play-button"></span>
					<span class="duration">03:15</span>
				</a>
			</li>
			<li class="col-lg-3 col-sm-4 col-xs-6">
				<a href="#" title="方案简介">
					<img src="{{ url_for('static',filename='images/portfolio/img2.jpg') }}" alt="Barca" class="img-responsive" height="130px">
					<h2>标题：{{ dict['title2'] }} 类型：{{ dict['type2'] }} 关键字：{{ dict['key2'] }}</h2>
					<span class="play-button"></span>
					<span class="duration">03:15</span>
				</a>
			</li>
			<li class="col-lg-3 col-sm-4 col-xs-6">
				<a href="#" title="方案简介">
					<img src="{{ url_for('static',filename='images/portfolio/img3.jpg') }}" alt="Barca" class="img-responsive" height="130px">
					<h2>标题：{{ dict['title3'] }} 类型：{{ dict['type3'] }} 关键字：{{ dict['key3'] }}</h2>
					<span class="play-button"></span>
					<span class="duration">03:15</span>
				</a>
			</li>
			<li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
				<a href="#" title="方案简介">
					<img src="{{ url_for('static',filename='images/portfolio/img4.jpg') }}" alt="Barca" class="img-responsive" height="130px">
					<h2>标题：{{ dict['title4'] }} 类型：{{ dict['type4'] }} 关键字：{{ dict['key4'] }}</h2>
					<span class="play-button"></span>
					<span class="duration">03:15</span>
				</a>
			</li> 
		</ul>
	</div>
    <div id="courses">
		<section class="container">
			<h3>方案分类</h3>
			<div class="row">
				<div class="col-md-4">
					<div class="featured-box"> 
						<div class="text">
							<h3>树莓派</h3>
							<p>树莓派_方案1 </p>
							<p>树莓派_方案2 </p>
							<p>树莓派_方案3 </p>
							<p><a href="#"><em>Read More</em></a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box"> 
						<div class="text">
							<h3>机器人操作系统</h3>
							<p>机器人操作系统_方案1 </p>
							<p>机器人操作系统_方案2 </p>
							<p>机器人操作系统_方案3 </p>
							<p><a href="#"><em>Read More</em></a></p>							
						</div>
					</div>
				</div>			
				<div class="col-md-4">
					<div class="featured-box"> 
						<div class="text">
							<h3>计算机视觉</h3>
							<p>计算机视觉_方案1 </p>
							<p>计算机视觉_方案2 </p>
							<p>计算机视觉_方案3 </p>
							<p><a href="#"><em>Read More</em></a></p>		
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="featured-box"> 
						<div class="text">
							<h3>机器学习</h3>
							<p>机器学习_方案1 </p>
							<p>机器学习_方案2 </p>
							<p>机器学习_方案3 </p>
							<p><a href="#"><em>Read More</em></a></p>									
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box"> 
						<div class="text">
							<h3>三维建模技术</h3>
							<p>三维建模技术_方案1 </p>
							<p>三维建模技术_方案2 </p>
							<p>三维建模技术_方案3 </p>
							<p><a href="#"><em>Read More</em></a></p>								
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box"> 
						<div class="text">
							<h3>语音识别和合成</h3>
							<p>语音识别和合成_方案1 </p>
							<p>语音识别和合成_方案2 </p>
							<p>语音识别和合成_方案3 </p>
							<p><a href="#"><em>Read More</em></a></p>									
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>
    <div class="container">
		<div class="row">
			<!-- Article content -->
			<section class="col-sm-12 maincontent">
				<h3>最新提交</h3>
				<p>面向过程程序设计语言：程序是一系列指令，命令计算机如何处理输入。代表性的语言有C、Pascal、和Unix shells。	</p>
				<p> 描述性程序设计语言: 程序是你需要解决问题的描述，程序会去执行最有效的解决方法。我们最熟悉的描述性程序设计语言是SQL语言。 </p>
				<p> 面向对象程序设计语言：程序操作一些对象的集合，对象支持内部状态和方法，通过某种方式能够改变。代表性的语言有C++、Java等。 </p>
				<p> 函数式程序设计语言：函数式编程把问题分解为一个函数的集合，理想的情况下，函数只获得输入，产生输出。对于给定的输入，没有任何影响输出的内部状态。比较著名的函数式程序设计语言有ML和Haskell。 </p>
				<h3>线下活动</h3>
				<p>沈阳地区的树莓派爱好者多么？我们可以组织两次下线活动，一起交流交流啊！</p>
				<p>沈阳地区的树莓派爱好者多么？我们可以组织两次下线活动，一起交流交流啊！</p>
				<p>沈阳地区的树莓派爱好者多么？我们可以组织两次下线活动，一起交流交流啊！</p>
			</section>
		</div>
	</div>
<!-- /.container -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footerbottom">
        <div class="col-md-3 col-sm-6">
          <div class="footerwidget">
            <h4> 创意集市 </h4>
            <div class="menu-course">
              <ul class="menu">
                <li><a href="#"> 硬件设备 </a> </li>
                <li><a href="#"> 应用软件 </a> </li>
                <li><a href="#"> 支撑软件 </a> </li>
                <li><a href="#"> 数据库系统 </a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footerwidget">
            <h4> 方案库 </h4>
            <div class="menu-course">
              <ul class="menu">
                <li> <a href="#"> 硬件设备 </a> </li>
                <li><a href="#"> 应用软件 </a> </li>
                <li><a href="#"> 支撑软件 </a> </li>
                <li><a href="#"> 数据库系统 </a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footerwidget">
            <h4> 产品展示 </h4>
            <div class="menu-course">
              <ul class="menu">
                <li><a href="#"> 硬件设备 </a> </li>
                <li> <a href="#"> 应用软件 </a> </li>
                <li><a href="#"> 支撑软件 </a> </li>
                <li> <a href="#"> 数据库系统 </a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footerwidget">
            <h4>联系我们</h4>
            <p>MBH树莓派智能机器人俱乐部</p>
            <div class="contact-info"> <i class="fa fa-map-marker"></i> 中国 辽宁 大连 滨海路风光栈道<br>
              <i class="fa fa-phone"></i> charles1245087438 <br>
              <i class="fa fa-envelope-o"></i> charlesliu2216@gmail.com </div>
          </div>
          <!-- end widget -->
        </div>
      </div>
    </div>
    <div class="social text-center"> <a href="#"><i class="fa fa-wechat"></i></a> <a href="#"><i class="fa fa-qq"></i></a> <a href="#"><i class="fa fa-weibo"></i></a> <a href="#"><i class="fa fa-git"></i></a> <a href="#"><i class="fa fa-envelope"></i></a> </div>
    <div class="clear"></div>
    <!--CLEAR FLOATS-->
  </div>
  <div class="footer2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="simplenav"> <a href="/">首页</a> | <a href="{{ url_for('creativity.creativity') }}">创意集市</a> | <a href="{{ url_for('solution.solution') }}">方案库</a> | <a href="{{ url_for('product.product') }}">产品展示</a> | <a href="{{ url_for('main.about') }}">俱乐部简介</a> | <a href="http://mobiushacker.org/">俱乐部论坛</a> </p>
          </div>
        </div>
        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="text-right"> Copyright © 2016.MBHZB All rights reserved. </p>
          </div>
        </div>
      </div>
      <!-- /row of panels -->
    </div>
  </div>
</footer>
<a href="#top" class="topBtn"><i class="fa fa-angle-up"></i></a>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/custom.js') }}"></script>
</body>
</html>

