Werkzeug==0.11.11
click==6.6
flask==0.11.1
itsdangerous==0.24
SQLAlchemy==1.1.4
flask_sqlalchemy==2.1
dominate==2.3.1
flask-bootstrap==3.3.7.0
visitor==0.1.3
flask_script==2.0.5
Mako==1.0.6
alebic==0.8.9
flask-migrate==2.0.2
python-editor==1.0.3
WTForms==2.1
flask_wtf==0.13.1
flask_login==0.4.0
enum==0.4.6











    （代表什么）
    SQLALCHEMY_COMMIT_ON_TEARDOWN = True
    SQLALCHEMY_TRACK_MODIFICATIONS = True
    (下面这两个命令作用以及如何实现数据库的迁移）
    manager.add_command("shell",Shell(make_context=make_shell_context()))
    manager.add_command("db",MigrateCommand)